:root {
    --home-bg: #ffffff;
    --home-nome: #ffffffbe;
    --home-color: #2F2504;
    --home-foto: #75de04b3;
    --home-foto-hover: #F2A359;
    --home-icones: #F2A359;
    --segunda-bg: #7E846B;
}
.dark-mode:root {
    --home-bg: rgb(6, 8, 61);
    --home-nome: rgba(6, 8, 61, 0.5);
    --home-color: #F2A359;
    --home-foto: #f2a359;
    --home-foto-hover: #75de04b3;
    --home-icones: #75de04;
    --segunda-bg: #2F2504;

}
* {
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    transition: 0.5s;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
    padding: 15px;
    display: flex;
    align-items: center;
    color: var(--home-icones);   
}
header li {
    margin: 1rem 0;
    list-style-type: none;
}
header span {
    display: none;
}
header i {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 30% 70% 70% 30% / 30% 50% 50% 70%;
    border: dashed 2px #2F2504;
    transition: 0.4s; 
}
header i:hover {
    border: solid 2px #2F2504;
}
.visualizando {
    background-color: #2F2504;
    color: #ffffff;
    border: dashed 2px #2F2504;
}
button {
    border-radius: 0.8rem;
    border: dashed 2px #594E36;
    background-color: transparent;
}
button img {    
    height: 2rem;
    padding: 0.5rem;
}

/* main */

/* home */

#home h1, #home h2 {
    color: var(--home-color);
    background-color: var(--home-nome);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
main section img {
    height: 649px;
    position: relative;
}
#fotoeduardo {
    position: relative;
    left: 133px;
    transition: 0.5s;
}
.image-container {
    display: inline-block;
    position: relative;
    line-height: 0;
    background-color: var(--home-foto)
}
.image-container:hover {
    background-color: var(--home-foto-hover);
}
.image-container > img {
    filter:  brightness(70%) contrast(100%) saturate(100%) sepia(0%);
    mix-blend-mode: hard-light;
}
#redessociais {
    padding-top: 0.4rem;
    background-color: var(--home-nome);
}
main i {
    font-size: 2rem;
}
main a {
    margin: 0 1rem 0 0;
}
main a:link, main a:visited, main a:active {
    color: var(--home-color);
  }
main a:hover {
    color: var(--home-icones)
}

#home {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--home-bg);
    background-image: url(assets/ssscribble.svg);
}

/* primeira seção */

#primeirasecao {
    background-color: var(--segunda-bg);
    height: 651px;
    color: var(--home-color);
}
#primeirasecao h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
}
#linha {
    padding: 6rem 0;
}
.flex-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}    
.input-flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80vw;
	height: 100px;
	max-width: 1000px;
	position: relative;
	z-index: 0;
}
.input {
	width: 25px;
	height: 25px;
	background-color: var(--home-color);
	position: relative;
	border-radius: 50%;
}
.input:hover {
	cursor: pointer;
}
.input::before, .input::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--home-color);
    width: 4vw;
    height: 5px;
    max-width: 50px;
}
.input::before {
	left: calc(-4vw + 12.5px);
}
.input::after {
	right: calc(-4vw + 12.5px);
}
#nasci::before {
    left: 0;
}
.input.active {
	background-color: var(--home-color);
}
.input.active::before {
	background-color: var(--home-color);
}
.input.active::after {
	background-color: #AEB6BF;
}
.input.active span {
	font-weight: 700;
}
.input.active span::before {
	font-size: 13px;
}
.input.active span::after {
	font-size: 15px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
	background-color: #AEB6BF;
}
.input img {
    display: none;
}
.input.active img {
    display: flex;
    position: relative;
    height: 5rem;
    bottom: 6rem;
    right: 1.7rem;
}
.input span {
	width: 1px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}
.input span::before, .input span::after {
	visibility: visible;
	position: absolute;
	left: 50%;
}
.input span::after {
	content: attr(data-year);
	top: 25px;
	transform: translateX(-50%);
	font-size: 14px;
}
.description-flex-container {
	width: 80vw;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 4rem;
    max-width: 1000px;
}
.description-flex-container p {
    margin-top: 0;
	display: none;
}
.description-flex-container p.active {
	display: block;
}  

/* segunda seção */

#segundasecao {
    height: 649px;
    background-image: url(assets/ffflux-claro.svg);
    background-size: cover;
}
#segundasecao h1 {
    display: flex;
    justify-content: center;
    color: var(--home-color);
}

/* footer */

footer {
    background-color: #594E36;
    height: 649px;
}
 Cores tema claro
h6 {
    color: #2F2504
#594E36
#73DE04
#7E846B
#F2A359
}
